@import url(./global1.css);
.hero {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
    url(../images/11.jpg);
  height: 105vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -100px;
}
.hero_content {
  width: 80vw;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.8)
  );
  padding: 50px 10px;
  border-radius: 10px;
}
.hero_content h1 {
  margin-bottom: 20px;
  color: var(--red);
}
.hero_content .topline {
  color: var(--white);
}
.hero_content .orders {
  color: var(--white);
  font-size: clamp(1.5rem, 3vw, 2rem);
  margin: 5px 0;
}
.order_item {
  width: 205px;
  height: 400px;
  border: 2px solid var(--red);
  margin-bottom: 1rem;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button1 {
  display: flex;
  border: none;
  background: var(--black);
  color: var(--white);
  border-radius: 50px;
}
.wrapper {
  padding: 1rem calc((100vw - 1200px) / 2);
}
@media screen and (max-width: 768px) {
  .order_text {
    width: 100vw;
  }
  .orders_img {
    width: 20vw;
  }
}
.topline {
  color: var(--red);
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: bolder;
  position: relative;
  margin-bottom: 30px;
  text-transform: none;
}
.topline::after {
  content: "";
  width: 50px;
  height: 0.3rem;
  background-color: var(--red);
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.tab_content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.ourfoods {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}
/*wrapper*/
.wrapper {
  margin-top: -100px;
}
.fooditem {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.food-img {
  width: 200px;
  height: 150px;
}
.food-img img {
  padding: 10px;
  width: 100%;
}
.food-tittle {
  font-weight: bold;
  padding: 10px;
}
.food-desc {
  text-align: center;
  padding: 10px 50px;
  font-size: 0.8rem;
}
.desc {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding: 10px;
  opacity: 60%;
}
.price {
  font-size: 1.5rem;
  font-weight: bold;
}
.buy {
  border: 2px dotted var(--red);
}
#buttn {
  padding: 10px;
  background: var(--white) !important;
  border: none;
  cursor: pointer;
}
.desc:hover {
  opacity: 200%;
}
@media screen and (min-width: 800px) {
  .tab_content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 450px) {
  .food-img {
    width: 150px;
    height: 100px;
  }
  .food-img img {
    padding: 10px;
    width: 100%;
  }
  .food-tittle {
    padding: 10px;
  }
  .food-desc {
    padding: 10px 20px;
  }
  .price {
    font-size: 1rem;
    opacity: 60%;
    font-weight: bold;
  }
  .buy {
    padding: 5px;
  }
}
@media screen and (max-width: 330px) {
  .food-img {
    width: 100px;
    height: 70px;
  }
  .food-img img {
    padding: 10px;
    width: 100%;
  }
  .food-tittle {
    padding: 5px;
  }
  .food-desc {
    padding: 5px 10px;
  }
  .price {
    font-size: 1rem;
    opacity: 60%;
    font-weight: bold;
  }
  .buy {
    padding: 5px;
    font-size: 0.7rem;
  }
}
